PORT=9999
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://123billbao123_db_user:uGm84rx6R0fTHoU9@wdp301.mqdxisj.mongodb.net/wdp101_hms?retryWrites=true&w=majority
JWT_SECRET=wdp101_hms_secret_key_2024
GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
